* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #667eea 0%, #1a20cc 100%);
    padding: 20px;
    min-height: 100vh;
}

.container {
    max-width: 1300px;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 20px 60px rgba(0,0,0,0.3);
    overflow: hidden;
}

.header {
    background: linear-gradient(135deg, #667eea 0%, #082ad7 100%);
    color: white;
    padding: 10px;
    text-align: center;
}

.main-content {
    padding: 30px;
    background: #f8f9fa;
}

/* ================= PERIODONTOGRAMA ================= */

.arcada {
    margin-bottom: 40px;
}

.arcada-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 1.2em;
}

.cuadrantes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dientes-container {
    display: flex;
    gap: 4px;
}

.diente {
    width: 70px;
    text-align: center;
    border: 0.5px solid #33333322;
}

.diente-box.implante {
  border: 1px solid #333;
  background: #e3f2fd;
  font-size: 8px;
}

.diente-box.implante .numero-diente {
  font-weight: bold;
}

.diente-box.implante::after {
  top: -1px;
  right: -7px;
  font-size: 1px;
}

.diente.ausente .fila,
.diente.ausente .valores-sangrado,
.diente.ausente .valores-placa {
  visibility: hidden;     /* oculta */
  pointer-events: none;
}

.diente.ausente .diente-box {
  visibility: visible;    /* se mantiene */
  opacity: 0.5;
}

.diente-box {
  position: relative;
}

.diente.ausente .diente-box::after {
  content: "";
  position: absolute;
  top: 47%;
  left: -10%;
  width: 120%;
  height: 3px;
  background: #333;
  transform: rotate(-30deg);
  transform-origin: center;
  pointer-events: none;
  opacity: 0.5;
}

/* .diente.ausente {
  text-decoration: line-through;
} */


.valores-sangrado,
.valores-placa {
    display: flex;
    justify-content: space-between;
    height: 25px;
}

.valor.placa-activa {
  background-color: #007bff;
  width: 20px;
  height: 20px;
  border-radius: 10%;
  opacity: 90%;
}

.valor.sangrado-activa {
  background-color: #f44336;
  width: 20px;
  height: 20px;
  border-radius: 10%;
  opacity: 90%;
}


.valor {
    width: 20px;
    height: 20px;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}

/* .valor.filled { background: #4caf4f20; color: white; } */
.placa-activa {
  background-color: rgb(97, 123, 255);
  opacity: 100%;
  border-radius: 10%;
}

.diente-box {
    border: 1px solid #333;
    margin: 4px 0;
    padding: 3px 1px;
    border-radius: 2px;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.numero-diente { font-weight: bold; }
.extra-info { font-size: 8px; color: #666; }

.fila {
    border-top: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 22px;
}

.fila.triple {
    gap: 2px;
}

.campo {
    width: 20.5px;
    height: 18px;
    border: 1px solid #999;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.campo.unico {
    width: 30px;
}

.campo.filled {
    background: white;
    color: black;
}

/* .campo.warning { background: #FF9800; }
.campo.danger  { background: #f44336; } */

input {
            text-align: center;   /* Centers the text horizontally */
            padding: 6px;
            font-size: 10px;
            width: 200px;
        }

/* ================= LEYENDA ================= */

.legend {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
}

.legend-color {
    width: 18px;
    height: 18px;
    border-radius: 3px;
}

/* Arcada superior: normal */
#arcada-superior-izquierda .diente,
#arcada-superior-derecha .diente {
  display: flex;
  flex-direction: column; /* filas de arriba hacia abajo */
}

/* Arcada inferior: invertida verticalmente */
#arcada-inferior-izquierda .diente,
#arcada-inferior-derecha .diente {
  display: flex;
  flex-direction: column-reverse; /* filas de abajo hacia arriba */
}