/* ================= SANGRADO Y PLACA ================= */
.valores-sangrado,
.valores-placa {
    display: flex;
    justify-content: space-between;
    height: 25px;
}

.valor.placa-activa {
  background-color: #007bff;
  width: 20px;
  height: 20px;
  border-radius: 10%;
  opacity: 90%;
}

.valor.sangrado-activa {
  background-color: #f72e1f;
  width: 20px;
  height: 20px;
  border-radius: 10%;
  opacity: 90%;
}


.valor {
    width: 20px;
    height: 20px;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}

.placa-activa {
  background-color: rgb(97, 123, 255);
  opacity: 100%;
  border-radius: 10%;
}